{% extends 'base.html' %}

{% block head %}
<title>The title here!</title>
{% endblock %}

{% block body %}
<div class="">
    <h1 class="">Lessons</h1>
    {% if lessons|length  < 1%}
    <h1>There are no lessons. Enter one below.</h1>
    {% else %}
    <div class="wrapper">
        <table>
            <tr>
                <th>ID</th>
                <th>Lesson Date</th>
                <th>Date Created</th>
                <th>Plan</th>
                <th>Student</th>
                <th>Paid</th>
            </tr>
            {% for lesson in lessons %}
                <tr>
                    <td>{{ lesson.rowid}}</td>
                    <td> {{ lesson.lesson_date }}</td>
                    <td>{{ lesson.created_at }}</td>
                    <td>{{ lesson.plan }}</td>
                    <td>{{ lesson.student }}</td>
                    <td>{{ lesson.paid }}</td>
                    <td>
                        <a href="/delete/{{lesson.id}}">Delete</a>
                        <a href="/update/{{lesson.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    <form action="/" method="POST">
        <label for="lesson_plan">Lesson Plan</label>
        <input type="text" name="lesson_plan">
        <label for="lesson_date">Lesson Date</label>
        <input type="datetime" name="lesson_date">
        <label for="paid">Paid?</label>
        <input type="checkbox" name="paid">
        <label for="student">Student</label>
        <input type="text" name="student">
        <input type="submit" value="Add Lesson">
    </form>
</div>
{% endblock %}